{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Shopping Cart</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Item Name</th>
            <th>Cost</th>
            <th>Current Quantity</th>
            <th>Add</th>
            <th>Delete</th>
        </tr>
        {% for cartitem in cartitems %}
        <tr>
            <td>{{ cartitem.id }}</td>
            <td>{{ cartitem.name }}</td>
            <td>{{ cartitem.cost }}</td>
            <td>{{ cartitem.quantity }}</td>
            <td>
                <form action="/add/{{cartitem.id}}" method="POST">
                    <input type="integer" quantity="content" id="content">
                    <input type="submit" value="Add">
                </form>
            </td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}